{% if g.user.id != message.user.id and not message.is_liked_by(g.user)%}
    <form method="POST" action="/messages/{{ message.id }}/like">
        {{ g.csrf_form.hidden_tag() }}
        <button class="messages-like-bottom btn btn-sm">
        <i class="far fa-heart"></i>
        </button>
    </form>
    {% elif g.user.id != message.user.id %}
    <form method="POST" action="/messages/{{ message.id }}/unlike">
        {{ g.csrf_form.hidden_tag() }}
        <input type="hidden" name="prev_url" value="{{ request.url }}">
        <button class="messages-like-bottom btn btn-sm">
        <i class="fas fa-heart"></i></button>
    </form>
{% endif %}